PORT = 3000
MONGO_URL = mongodb+srv://ventraxdigital_db_user:l2ZalHio5F3KOmx2@cluster0.ctuwntu.mongodb.net/?appName=Cluster0,
JWT_SECRET = vanilla-shop@2025
GMAIL_ADDRESS = info@thevanillashop.lk
RESEND_API_KEY = re_XtCnSSX8_HZh74LgdhS16joAcNyG1nmfb

PAYCORP_CLIENT_ID_LKR=14007678
PAYCORP_CLIENT_ID_USD=14007679
PAYCORP_AUTHTOKEN=025ed671-de71-4545-8996-a7c46fa5ea29
PAYCORP_HMAC_SECRET=N0WnwEZ7S2WT0pAL
PAYCORP_ENDPOINT=https://paycorp-smp.prod.aws.paycorp.lk/rest/service/proxy

PAYCORP_RETURN_URL=http://localhost:3000/api/payments/callback
PAYCORP_CANCEL_URL=http://localhost:3000/api/payments/cancel

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

CRON_SECRET=cronjob@123